@model IEnumerable<mwowp.Web.Models.WorkOrder>

<h2>Work Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Asset</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Assigned To</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wo in Model)
        {
            <tr>
                <td>@wo.Asset.Name</td>
                <td>@wo.Title</td>
                <td>@wo.Status</td>
                <td>@wo.Priority</td>
                <td>@wo.AssignedToUser?.FullName</td>
                <td>@wo.CreatedByUser?.FullName</td>
            </tr>
        }
    </tbody>
</table>