@model IEnumerable<mwowp.Web.Models.WorkOrder>

<h2>Work Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Asset</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Assigned To</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wo in Model)
        {
            <tr>
                <td>@wo.Asset.Name</td>
                <td>@wo.Title</td>
                <td>@wo.Status</td>
                <td>@wo.Priority</td>
                <td>@wo.AssignedToUser?.FullName</td>
                <td>@wo.CreatedByUser?.FullName</td>
                <td>
                    <a asp-controller="WorkOrder"
                       asp-action="EditOrder"
                       asp-route-id="@wo.Id"
                       class="btn btn-sm btn-primary"
                       target="_blank"
                       rel="noopener">
                       Edit
                    </a>
                    @if (wo.Status == WorkOrderStatus.Completed)
                    {
                        <a asp-controller="WorkOrder"
                        asp-action="Inspection"
                        asp-route-id="@wo.Id"
                        class="btn btn-sm btn-warning"
                        target="_blank"
                        rel="noopener">
                            Inspection
                        </a>                
                    }
                </td>


            </tr>
        }
    </tbody>
</table>